@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700|Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i|Lora:400,400i,700,700i|Lusitana:400,700&display=swap');
div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}
.clear:before, .clear:after { content: " "; display: table; }.clear { *zoom: 1; } .clear {clear: both;}
a {
	transition: all ease-out .3s;
}
body {
	font-family: $font_primary;
	color: $color_text_main;
	font-size: 18px;
	line-height: 1.5;
}
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	@include center-block;
}
.flexrow {
	@include flexbox();
	@include flexbox-wrap(wrap);
	@include flexbox-direction(row);
	position: relative;
}
.site-content {
	width: 100%;
	float: left;
}
.home .site-content {
	background-color: $brown;
    background-image: url('images/content.png');
    background-repeat: no-repeat;
    margin-top: -40px;
    padding: 50px 0 40px;
    background-attachment: scroll;
    background-position: 0 0;
}
.wrapper {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}
.logo {
	display: block;
	width: 100%;
	position: relative;
	z-index: 10;
	a {
		display: inline-block;
		max-width: 190px;
		width: 100%;
	}
	img {
		width: 100%;
		height: auto;
	}
}
.site-header .social-media {
	display: inline-block;
	position: absolute;
	left: 20px;
	z-index: 12;
}
.social-media a {
	display: inline-block;
	background: $light_blue;
	text-decoration: none;
	color: #FFF;
	font-size: 16px;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	line-height: 33px;
	text-align: center;
	margin-right: 4px;
	&:hover {
		background: $dark_blue;
	}
}
.site-header {
	text-align: center;
	position: relative;
	z-index: 1000;
	width: 100%;
	background: #FFF;
	@include tab {
		height: 230px;
	}
	* {
		transition: all .2s ease;
	}
	.logo img {
		transition: all .3s ease;
	}
	.nav {
		display: none;
		@include tab {
			display: block;
			width: 100%;
			position: fixed;
			top: 0;
			background: #FFF;
		}
	}
	.wrapper.top {
		padding-top: 20px;
		padding-bottom: 20px;
		@include flexbox();
		@include flexbox-align-items(center);
	}
	.contact {
		position: absolute;
		right: 20px;
		z-index: 12;
		a {
			display: inline-block;
			font-family: $font_secondary;
			font-size: 11px;
			font-weight: 600;
			letter-spacing: 1px;
			color: #999;
			border: 1px solid #ccc;
			border-radius: 30px;
			text-decoration: none;
			text-transform: uppercase;
			padding: 12px 18px 8px;
		}
		a:hover {
			border-color: $light_blue;
			color: $light_blue;
		}
	}
	&.fixed {
		@include tab {
			position: fixed;
			top: 0;
			left: 0;
			height: auto;
			.logo a {
				width: 110px;
			}
			.wrapper.top {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}
}

.main-navigation {
	width: 100%;
	text-align: center;
	.mainmenu {
		width: 100%;
		float: left;
		border-top: 1px solid #d9d9d9;
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	li {
		position: relative;
	}
	.menu {
		display: none;
		@include tab {
			max-width: 800px;
			width: 100%;
			margin: auto;
			display: table;
		}
	}
	.menu a {
		font-family: $font_secondary;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		display: block;
		text-decoration: none;
		position: relative;
		color: $dark_blue;
	}
	.menu > li {
		display: inline-block;
		float: left;
		margin: 0 0;
		@include tab {
			display: table-cell;
			float: none;
			width: 10%;
		}
	}
	.menu > li > a {
		text-transform: uppercase;
		padding: 6px 15px;
		@include tab {
			padding: 27px 0 22px;
		}
	}
	.menu > li:hover > a {
		color: $light_blue;
	}

	.menu li ul {
		position: relative;
		left: 0;
		width: 100%;
		text-align: left;
		background: #FFF;
		transition: all ease-out .3s;
		@include tab {
			width: 230px;
			position: absolute;
			left: 20px;
			height: 0;
			overflow: hidden;
			opacity: 0;
			margin-top: -10px;
		}
		a {
			display: block;
			padding: 8px 6px 6px;
			line-height: 1.2;
			font-size: 13px;
			color: $light_blue;
			@include tab {
				padding: 8px 15px 6px;
			}
		}
		a:hover {
			color: $dark_blue;
		}
	}
	.menu li:hover ul {
		@include tab {
			height: auto;
			overflow: visible;
			opacity: 1;
			margin-top: 0;
		}
	}
}

.slides-wrapper {
	position: relative;
	.wrapper {
		overflow: hidden;
	}
	.owl-carousel {
		background-image: url(images/header.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		padding: 30px 15px;
		position: relative;
		padding-top: 30px;
		@include tab {
			padding: 0px 15px;
			height: 425px;
		}
		.owl-stage-outer {
			padding-top: 0;
			@include tab {
				padding-top: 35px;
			}
		}
		.item {
			text-align: center;
		}
		img {
			margin: auto;
			transition: all 2s ease;
			-webkit-transform-style: preserve-3d;
		}
		.owl-item.center {
			z-index: 20;
		}
		.owl-item.center img {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			height: auto;
			@include tab {
				width: auto;
				height: 340px;
			}
		}
		.owl-item:not(.center) img {
			height: 260px;
			width: auto;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			margin-top: 7%;
		}
		&:after {
			content: '';
			display: block;
			width: calc(100% - 29px);
			width: -webkit-calc(100% - 29px);
			width: -moz-calc(100% - 29px);
			height: calc(100% - 29px);
			height: -webkit-calc(100% - 29px);
			height: -moz-calc(100% - 29px);
			border: 15px solid #fff;
			opacity: 0.8;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.numwrap {
		position: absolute;
		left: 0;
		bottom: -5px;
		z-index: 200;
		width: 100%;
		text-align: center;
	}
	.slidenum {
		font-family: $font_secondary;
		color: #FFF;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 1px;
		display: inline-block;
		position: relative;
		top: -26px;
		width: auto;
	}
	.owl-nav {
		width: 100%;
		margin: 0 auto;
		position: absolute;
		bottom: 23px;
		left: 0;
		z-index: 30;
		text-align: center;
	}
	#hero.owl-carousel {
		.owl-prev,
		.owl-next {
			display: inline-block;
			width: 10px;
			height: 10px;
			border-left: 2px solid #fff;
			border-bottom: 2px solid #fff;
			border-top: none;
			border-right: none;
			position: relative;
			// position: absolute;
			// top: 0;
			-webkit-appearance: none;
			box-shadow: none;
			outline: none;
		}
		.owl-prev {
			transform: rotate(45deg);
		}
		.owl-next {
			transform: rotate(-134deg);
			margin-left: 65px;
		}
	}
}

.mobileNav {
	display: block;
	position: relative;
	padding: 5px 20px;
	@include tab {
		display: none;
	}
	a {
		text-decoration: none;
	}
	.favicon {
		position: absolute;
		top: 5px;
		left: 18px;
		img {
			width: 30px;
			height: auto;
		}
	}
	.sitename {
		color: $dark_blue;
		text-transform: uppercase;
		font-family: $font_secondary;
		font-size: 20px;
		line-height: 1.2;
		position: relative;
		top: 5px;
	}
}
.mobile-menu {
	display: block;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 7px;
	right: 20px;
	z-index: 30;
	@include tab {
		display: none;
	}
	i, i:before, i:after {
		display: block;
		width: 100%;
		height: 3px;
		background: $dark_blue;
		position: absolute;
		transition: all ease-out .3s;
	}
	i {
    	top: 11px;
	}
	i:before, i:after {
		content:"";
	}
	i:before {
		top: -7px;
	}
	i:after {
		top: 7px;
	}
	&.open {
		i {
			background: transparent;
		}
		i:before {
			transform: translateY(7px) rotate(45deg);
		}
		i:after {
			transform: translateY(-7px) rotate(-45deg);
		}
	}
}
.flexrow {
	@include flexbox();
	@include flexbox-wrap(wrap);
	@include flexbox-direction(row);
	position: relative;
}

.featured-book {
	.col {
		width: 100%;
		margin: 20px 0;
		position: relative;
		@include tab {
			width: 50%;
		}
	}
	.col.left {
		text-align: center;
		background-color: #e6e4e0;
		background-image: url('images/book-left.png');
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		img {
			display: inline-block;
			max-width: 280px;
			width: 100%;
			height: auto;
			margin: 10% auto;
		}
		.inside {
			width: 100%;
			height: 100%;
			position: relative;
			// border: 15px solid rgba(255,255,255,.65);
			@include flexbox();
			@include flexbox-align-items(center);
			@include flexbox-justify(center);
			&:after {
				content:"";
				display: block;
				width: calc(100% - 30px);
				height: calc(100% - 30px);
				background: transparent;
				border: 15px solid rgba(255,255,255,.65);
				position: absolute;
				top: 0;
				left: 0;
				z-index: 5;
			}
		}
	}
	.col.right {
		background: $dark_blue;
		color: #FFF;
		.inside {
			padding: 30px;
			width: 100%;
			height: 100%;
			position: relative;
			@include flexbox();
			@include flexbox-align-items(center);
			@include flexbox-justify(center);
		}
		.t1 {
			font-family: $font_secondary;
			color: #71b4d5;
    		font-size: 12px;
    		text-transform: uppercase;
    		margin: 0 0;
		}
		.t2 {
			font-family: $font_heading;
			color: #bbd6d9 !important;
			text-align: left;
			font-size: 24px !important;
			font-weight: normal;
			margin: 2px 0 10px;
		}
		.desc {
			font-size: 18px;
			line-height: 1.4;
			p {
				margin-top: 0;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
		.button {
			margin-top: 30px;
			text-align: center;
			@include tab {
				margin-top: 40px;
			}
		}
	}
}
.btn1 {
	display: inline-block;
	text-decoration: none;
	font-family: $font_secondary;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.3;
	text-transform: uppercase;
	padding: 15px 30px 10px;
	border-radius: 50px;
	border: 1px solid #FFF;
	color: #FFF;
	&:hover {
		background: $light_blue;
		color: #FFF;
	}
}
.featured-news {
	margin: 30px 0 40px;
	.col {
		width: 100%;
		position: relative;
		@include tab {
			width: 33.3%;
		}
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}
	.ntext {
		color: #FFF;
		background: $dark_blue;
		@include flexbox();
		@include flexbox-justify(center);
		@include flexbox-align-items(center);
		.mid {
			padding: 30px;
		}
	}
	.imgcol {
		@include flexbox();
		@include flexbox-align-items(center);
	}
	.button {
		text-align: center;
		margin-top: 25px;
		a {
			font-size: 14px;
			padding: 12px 35px 8px;
		}
	}
}

.section-quote {
	width: 100%;
	float: left;
	margin-bottom: 50px;
	.inner {
		position: relative;
		width: 100%;
		float: left;
		background-image: url('images/kathy-back.jpg');
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		background-color: #BFD8DA;
		color: $dark_blue;
	}
	.textwrap {
		position: relative;
		z-index: 5;
	}
	.imagecol {
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
	}
	.textcol {
		width: 90%;
		padding: 30px;
		color: #424e74;
		font-family: $font_cursive;
		font-size: 22px;
		font-weight: 300;
		font-style: italic;
		line-height: 1.7;
		position: relative;
		z-index: 10;
		text-align: center;
		@include tab {
			width: 70%;
			padding: 50px 40px;
		}
		p {
			margin-top: 0;
		}
		p:last-child {
			margin-bottom: 0;
		}
		h3 {
			font-family: $font_heading;
			font-style: normal;
			font-size: 35px;
			line-height: 1.2;
			font-weight: 500;
			color: #FFF;
			margin: 10px 0 3px;
		}
		.author {
			margin: 20px 0 0;
			font-family: $font_secondary;
			font-style: normal;
			font-weight: 700;
			font-size: 20px;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 1px;
		}
	}
}
.section-forsale {
	padding: 40px 0 40px;
	.bookinfo {
		position: relative;
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		background-color: #487497;
		text-align: center;
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}
	.title {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: rgba(113, 180, 213, 0.8 );
		color: #FFF;
		font-family: $font_secondary;
		font-size: 18px;
		line-height: 1.3;
		padding: 14px 10px 10px;
		z-index: 5;
	}
	.cols2 .bookinfo {
		width: 100%;
		@include tab {
			width: 50%;
		}
	}
	.cols3 .bookinfo {
		width: 100%;
		@include tab {
			width: 33.3%;
		}
	}
	.button {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
		text-align: center;
		@include flexbox();
		@include flexbox-justify(center);
		@include flexbox-align-items(center);
		a {
			display: inline-block;
			padding: 13px 10px 10px;
			background: #FFF;
			color: #808080;
			font-size: 16px;
			width: 110px;
			line-height: 1;
			&:hover {
				color: #FFF;
				background: $light_blue;
				border-color: $light_blue;
			}
		}
	}
}

.site-footer {
	background: $dark_blue;
	color: #FFF;
	padding: 15px 0;
	.flexrow {
		@include flexbox-align-items(center);
		@include flexbox-justify(center);
	}
	.favicon {
		display: inline-block;
		width: 35px;
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}
	.col.left {
		width: 30%;
		@include tab {
			@include flexbox();
			@include flexbox-align-items(center);
		}
	}
	.col.right {
		width: 70%;
	}
	.social-media {
		display: inline-block;
		float: right;
		a {
			margin-left: 3px;
			margin-right: 3px;
			@include tab {
				margin-left: 7px;
				margin-right: 0;
			}
		}
	}
}

.entry-content {
	background-color: $brown;
    padding: 0 0 50px;
    background-attachment: scroll;
    background-position: 0 0;
    position: relative;
    &:before {
		content:"";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url('images/content.png');
    	background-repeat: no-repeat;
    	background-color: $brown;
    }
    &.has-image {
    	&:before {
    		top: -50px;
    	}
    }
    .wrapper {
    	position: relative;
    	z-index: 10;
    }
    .bio {
    	@include tab {
    		padding-right: 30%;
    	}
    }
	a {
		color: $dark_blue;
	}
	h6 {
		font: 700 12px/40px $font_heading;
		color: $light_blue;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-bottom: 5px;
		position: relative;
		&.list-title {
			margin-bottom: 0;
			bottom: -2px;
		}
	}
	h3 {
		font: 600 30px $font_heading;
		color: $dark_blue;
	}
	ul {
		margin-top: 0;
	}
	p {
		margin-top: 0;
		margin-bottom: 25px;
	}
	p.last {
		margin-bottom: 60px
	}
}

.page-about {
	.entry-content.has-image {
		@include tab {
			padding-bottom: 2%;
		}
	}
	.letter {
		margin-top: 40px;
		a {
			display: inline-block;
			text-decoration: none;
			font: 700 12px/70px $font_secondary;
			color: $dark_blue;
			text-transform: uppercase;
			position: relative;
			padding: 0 50px 0 100px;
			.arrow {
				position: absolute;
				right: 0;
				top: 0;
				font-size: 15px;
				color: $light_blue;
				transition: all ease .3s;
			}
			&:before {
				content: '';
				height: 70px;
				width: 90px;
				background-image: url(images/feather.png);
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				left: 0;
				margin-right: 0;
			}
			&:hover {
				color: $light_blue;
				.arrow {
					margin-right: -10px;
				}
			}
		}
	}
}

.polaroids {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	float: left;
	position: relative;
	z-index: 10;
	@include tab {
		max-width: 350px;
		position: absolute;
		top: 5%;
		right: 0;
		float: none;
	}
	.photo {
		width: 33.33%;
		float: left;
		@include tab {
			width: 100%;
			margin-bottom: 35px;
		}
	}
	.photo img {
		width: 100%;
		height: auto;
		float: left;
	}
	.caption {
		display: block;
		padding: 0 10px;
		text-align: center;
		font-size: 11px;
		@include tab {
			width: 100%;
			float: left;
			text-align: right;
			padding: 0 15px 0 0;
		}
	}
}

.instagram-section {
	padding-top: 3%;
	padding-bottom: 6%;
	background: #f3f3f3;
	.section-title {
		font-family: $font_secondary;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.2;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $dark_blue;
		text-align: center;
		div {
			position: relative;
			&:before {
				content:"";
				display: block;
				width: 100%;
				height: 2px;
				background: $dark_blue;
				position: absolute;
				top: 48%;
				left: 0;
			}
		}
		a {
			color: $dark_blue;
			text-decoration: none;
			display: inline-block;
			position: relative;
			padding-left: 60px;
			padding-right: 20px;
			margin: 15px 0 10px;
			z-index: 5;
			background: #f3f3f3;
			.ig-icon {
				display: inline-block;
				position: absolute;
				top: -3px;
				left: 20px;
				font-size: 25px;
			}
			&:hover {
				color: $light_blue;
			}
		}
	}
}
.instagramfeeds {
	@include flexbox();
	@include flexbox-wrap(wrap);
	@include flexbox-direction(row);
	margin-left: -10px;
	margin-right: -10px;
}
.instabox {
	width: 50%;
	position: relative;
	padding: 10px;
	@include tab {
		width: 50%;
	}
	@include mid {
		width: 25%;
	}
	.instapic {
		display: block;
		text-decoration: none;
		position: relative;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
	}
	img {
		width: 100%;
		height: auto;
		float: left;
	}
	.caption {
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 5;
		padding: 15px;
		font-size: 13px;
		line-height: 1.3;
		background: rgba(0,0,0,.6);
		color: #FFF;
		transition: all ease-in-out .3s;
		opacity: 0;
		visibility: hidden;
		@include flexbox();
		@include flexbox-align-items(center);
		span {
			margin-bottom: -10%;
			transition: all ease-out .4s;
		}
	}
	.instapic:hover {
		.caption {
			opacity: 1;
			visibility: visible;
			span {
				margin-bottom: 0;
			}
		}
	}
}

.featuredImage {
	position: relative;
	z-index: 5;
}
.feat-image {
	position: relative;
	width: 100%;
	float: left;
	.frame {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 15px solid rgba(255,255,255,.5);
		z-index: 2;
	}
	.caption {
		position: absolute;
		bottom: 15px;
		left: 0;
		text-align: center;
		font-family: $font_heading;
		font-size: 25px;
		font-weight: 400;
		color: $dark_blue;
		text-align: center;
		width: 100%;
		z-index: 5;
		padding: 0 15px;
		.mid {
			background: rgba(255,255,255,.5);
			padding: 25px 20px 5px 15px;
		}
	}
	img {
		width: 100%;
		height: auto;
		float: left;
	}
}

.letterToReaders {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -999;
	background: rgba(255,255,255,.75);
	padding: 20px;
	opacity: 0;
	visibility: hidden;
	transition: all ease-in-out .3s;
	.middiv {
		transition: all ease-out .3s;
		transform: translateY(-200%);
	}
	&.open {
		z-index: 10008;
		opacity: 1;
		visibility: visible;
		.middiv {
			transform: translateY(0);
			transition-delay: .3s;
		}
	}
	.lettertop div, 
	.lettercontent {
		max-width: 900px;
		width: 100%;
		margin: 0 auto;
	}

	.lettertop {
		width: 100%;
		position: fixed;
		top: 20px;
		left: 0;
		z-index: 20;
		padding: 0 20px;
		div {
			text-align: right;
			padding: 10px;

		}
		a.close {
			display: inline-block;
			width: 30px;
			height: 30px;
			line-height: 28px;
			border: 1px solid $dark_blue;
			text-align: center;
			text-decoration: none;
			border-radius: 100%;
			position: relative;
			background: $dark_blue;
			color: #FFF;
			span {
				font-family: $font_secondary;
				font-size: 20px;
				font-weight: bold;
				position: relative;
			}
			&:hover {
				background: #FFF;
				color: $dark_blue;
			}
		}
	}

	.lettercontent {
		height: 100%;
		overflow: scroll;
		background-color: #fdfcef;
		color: $dark_blue;
		box-shadow: 0px 2px 25px rgba(0,0,0,.5);
		border-radius: 6px;
		padding-bottom: 30px;
		position: relative;
	}
	.inside {
		font-family: $font_cursive;
		font-size: 16px;
		line-height: 1.7;
		padding: 20px 20px;
		position: relative;
		z-index: 5;
	}
	blockquote {
		font-size: 18px;
		line-height: 1.6;
		&.quote {
			margin-bottom: 35px;
		}
		small {
			font-size: 13px;
		}
	}
	.lettertext {
		width: 100%;
		margin-bottom: 20px;
		@include tab {
			width: 66%;
			float: left;
			margin-bottom: 0;
		}
		p {
			margin-top: 0;
			margin-bottom: 15px;
		}
	}
	.letter-images {
		width: 100%;
		float: left;
		margin: 20px 0 30px;
		@include tab {
			width: 30%;
			float: right;
			margin: 0 0;
		}
		.img {
			width: 33.3%;
			float: left;
			padding: 5px;
			@include tab {
				width: 100%;
				margin-bottom: 20px;
				padding: 0;
			}
		}
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}
}

/* Mobile */
@media screen and (max-width:767px) {
	.site-header {
		.main-navigation {
			.wrapper {
				padding-left: 10px;
				padding-right: 10px;
			}
			.mainmenu {
				border-top: none;
			}
		}
		.nav {
			display: block;
			width: 250px;
			background: $dark_blue;
			position: absolute;
			top: 42px;
			transition: all ease .3s;
			right: -100%;
			height: 450px;
			padding: 15px 0 10px;
			z-index: -99;
			.wrapper {
				border-top: none;
			}
		}
		.wrapper.top {
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			border-top: none;
		}
		.logo {
			display: none;
		}
		&.open .nav {
			right: 0;
			z-index: 999;
		}
	
		.main-navigation .menu {
			display: block;
		}
		.main-navigation .menu > li {
			display: block;
			width: 100%;
			text-align: left;
			a {
				color: #FFF;
				padding: 7px 15px;
			}
		}
		.main-navigation .menu > li:hover > a {
			color:#ace2fd;
		}
		.main-navigation .menu li.current_page_item > a {
			opacity: 0.45;
		}
		.main-navigation .menu li ul {
			background: transparent;
			padding-left: 15px;
			a {
				color: $light_blue;
				&:hover {
					color:#ace2fd;
				}
			}
		}
		.social-media, .contact {
			display: block;
			width: 100%;
			position: relative;
			text-align: center;
			a {
				transition: all ease .1s;
			}
		}
		.social-media a:hover {
			background: #FFF;
			color: $dark_blue;
		}
		.social-media {
			left: 0;
			top: 0;
		}
		.contact {
			position: absolute;
			top: -40px;
			right: 0;
			a {
				color: #FFF;
				border-color: #FFF;
			}
		}

	}

}

