$tabwidth: 768px;
$midwidth: 900px;
$deskwidth: 1200px;

$color_background-body: #FFFFFF;
$color_link: royalblue;
$color_link_visited: purple;
$color_link_hover: midnightblue;
$color_text_main: #666666;
$color_black: #000;
$light_blue: #71B4D5;
$dark_blue: #487497;

$font_primary:'Lusitana', serif;
$font_secondary:'Hind', sans-serif;
$font_cursive: 'Lora', serif;